:root {
  --accent: #81f3e0;
  --secondary: #81cdf3;
  --primary: #8194f3;
}
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  width: 90%;
  margin: 40px auto;
}
.brand {
  font-weight: bold;
  font-size: 2rem;
}
.nav-menu-toggle {
  font-size: 2rem;
  font-weight: bold;
  background: none;
  border: none;
  color: aliceblue;
  cursor: pointer;
}
.nav-links {
  display: none;
  flex-direction: column;
  justify-items: center;
  position: absolute;
  top: 100px;
  width: 80%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: aqua;
}
.nav-links a {
  padding: 15px;
  text-decoration: none;
  color: black;
  border-top: 1px solid #333;
}
@media (min-width: 768px) {
  .nav-menu-toggle {
    display: none;
  }
  .nav-links {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 20px;
    background: none;
    width: auto;
    transition: all 0.3s ease;
  }
  .nav-links a {
    border: none;
  }
}
/* Section */
.projects {
  padding: clamp(40px, 8vw, 100px);
  background: #475dc3;
  color: white;
}

/* Featured project */
.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(20px, 5vw, 50px);
  margin-bottom: 60px;
  border: 1px solid black;
}

.featured img {
  width: 50%;
  border-radius: 12px;
}

.featured-content h2 {
  font-size: clamp(24px, 4vw, 36px);
}

.featured-content p {
  margin: 15px 0;
  color: #94a3b8;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  background: #38bdf8;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  border-radius: 6px;
}

.btn-outline {
  border: 1px solid #38bdf8;
  padding: 10px 20px;
  text-decoration: none;
  color: #38bdf8;
  border-radius: 6px;
}

/* Grid */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: clamp(15px, 3vw, 30px);
  border: 1px solid black;
}

/* Cards */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.card img {
  width: 50%;
  display: block;
}

/* Overlay */
.overlay {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  text-align: center;
  width: 250px;
  min-height: 290px;
}

.card:hover .overlay {
  opacity: 1;
}
@media (max-width: 768px) {
  .featured {
    grid-template-columns: 1fr;
  }
}
